<h3>{{profileName}}</h3>
<a xmlns="http://www.w3.org/1999/xhtml" class="slot-link" href="/d3/en/item/ascended-pauldrons-Shoulders_208" data-d3tooltip="item-profile/CmIIsuGh1AESBwgEFdL4yBUd-feG_h1oa9k0HQKZ58sdkpTcCB2zR--jIgsIARW1RAMAGAQgCjCLAjjVA0AASAJQDlgEYO4DjQHWIzGLpQH594b-rQH-o_KPuAGX9sKOA8ABFRik48fcAlACWAA">
				<span class="d3-icon d3-icon-item d3-icon-item-yellow">
					<span class="icon-item-gradient">
						<span class="icon-item-inner"></span>
					</span>
				</span>

				<span class="image">
					<img src="https://blzmedia-a.akamaihd.net/d3/icons/items/large/shoulders_208_barbarian_male.png" alt="" />
				</span>

			</a><character></character>